<div th:fragment="phuKienList">
  <div class="row g-4">

    <div class="col-md-6 col-lg-4 col-xl-3"
         th:each="sp : ${dsPhuKien}">

      <div class="rounded position-relative fruite-item border border-secondary d-flex flex-column h-100 shadow-sm">

        <!-- HÌNH ẢNH -->
        <div class="fruite-img">
          <img th:src="@{${sp.hinhAnh.contains('/') ? '/img/' + sp.hinhAnh : (sp.loaiSanPham.tenLoai == 'LAPTOP' ? '/img/laptop/' + sp.hinhAnh : '/img/phu-kien/' + sp.hinhAnh)}}"
               class="img-fluid w-100 rounded-top"
               style="height:200px; object-fit:contain;"
               alt="">
        </div>

        <!-- BADGE -->
        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
             style="top: 10px; left: 10px;">
          Phụ kiện
        </div>

        <!-- THÔNG TIN -->
        <div class="p-4 rounded-bottom d-flex flex-column flex-grow-1">

          <h6 th:text="${sp.tenSanPham}"></h6>

          <div class="d-flex justify-content-between flex-lg-wrap mt-auto">
            <p class="text-dark fs-5 fw-bold mb-0"
               th:text="${#numbers.formatDecimal(sp.getGiaDaGiam(),0,'COMMA',0,'POINT')} + ' VNĐ'">
            </p>

            <a th:href="@{/shop-detail/{id}(id=${sp.id})}"
               class="btn border border-secondary rounded-pill px-3 text-primary">
              <i class="fa fa-shopping-bag me-1 text-primary"></i>
              Mua ngay
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
